apiVersion: 1

contactPoints:
  - orgId: 1
    name: telegram
    receivers:
      - uid: telegram_alerts
        type: telegram
        disableResolveMessage: false
        settings:
          bottoken: $GRAFANA_TELEGRAM_BOT_TOKEN
          chatid: |-
            -1001234567890
          message: |
            {{ template "default.message" . }}