<!doctype html>
<html>
<head>
    <title>API Documentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <script
        id="api-reference"
        data-url="{% url 'schema' %}?format=json"
        data-configuration='{
            "theme": "purple",
            "layout": "modern",
            "darkMode": true,
            "hideDarkModeToggle": false,
            "showSidebar": true,
            "defaultHttpClient": {
                "targetKey": "python",
                "clientKey": "requests"
            }
        }'>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
</body>
</html>