LOAD_TESTING_API_KEY=replace-with-at-least-32-random-characters
LOAD_SIMULATOR_CONTROL_KEY=replace-with-another-random-control-key
LOAD_BACKEND_WORKERS=4
LOAD_SCANNER_BATCH_SIZE=500
LOAD_SCANNER_SLEEP_SECONDS=1
LOAD_OUTBOX_BATCH_SIZE=250
LOAD_OUTBOX_SLEEP_SECONDS=1
LOAD_NOTIFICATION_PREFETCH=100
