# Общие ключи Load Lab
LOAD_TESTING_API_KEY=replace-with-at-least-32-random-characters
LOAD_SIMULATOR_CONTROL_KEY=replace-with-another-random-control-key
FETCHER_API_KEY=integration-fetcher-key-change-me

DB_CONN_MAX_AGE=0


# Capacity Lab
LOAD_BACKEND_WORKERS=4
LOAD_SCANNER_BATCH_SIZE=500
LOAD_SCANNER_SLEEP_SECONDS=1
LOAD_OUTBOX_BATCH_SIZE=250
LOAD_OUTBOX_SLEEP_SECONDS=1
LOAD_NOTIFICATION_PREFETCH=100


# Integration Lab
INTEGRATION_BACKEND_WORKERS=2
INTEGRATION_SCANNER_BATCH_SIZE=25
INTEGRATION_SCANNER_SLEEP_SECONDS=15


# PostgreSQL
POSTGRES_DB=flashsale
POSTGRES_USER=flashsale_admin
POSTGRES_PASSWORD=password

POSTGRES_APP_USER=flashsale_app
POSTGRES_APP_PASSWORD=password

POSTGRES_EXPORTER_USER=flashsale_exporter
POSTGRES_EXPORTER_PASSWORD=password


# RabbitMQ
RABBITMQ_DEFAULT_USER=flashsale
RABBITMQ_DEFAULT_PASS=password


# PgBouncer for Capacity Lab
PGBOUNCER_DB_NAME=flashsale
PGBOUNCER_DB_USER=flashsale_app
PGBOUNCER_DB_PASSWORD=password

PGBOUNCER_UPSTREAM_DATABASE_URLS=postgresql://flashsale_app:password@postgres:5432/flashsale
PGBOUNCER_APP_DATABASE_URL=postgresql://flashsale_app:password@pgbouncer:5432/flashsale
